:root {
  --main-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  --button-color: #3e51f7e4;
  --link-color: #000082;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 15px;
  font-family: Arial, sans-serif;
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div > div + div {
  margin-top: 30px;
}

img {
  display: block;
  margin: 10px auto;
  width: min(80%, 1000px);
  height: auto;
  border: 1px solid #ccc;
}

a {
  text-decoration: none;
}

p {
  margin: 10px;
}

h1 {
  margin: 20px;
}

hr {
  width: 80%;
  margin-block: 20px;
}

#scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--button-color);
  box-shadow: var(--main-shadow);
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  line-height: 150%;
}

#scroll-to-top-button:hover {
  background-color: var(--link-color);
}

.header {
  width: min(60%, 800px);
}

.header h1,
.header h3 {
  font-size: 1rem;
}

.header h2 {
  font-size: 1.9rem;
  text-align: center;
}

.logo {
  max-width: 80px;
}

#toc-headline {
  padding: 1px 6px;
  margin: 0;
  border: solid;
  border-radius: 5px;
  box-shadow: var(--main-shadow);
}

.toc ul {
  list-style-type: none;
  padding: 0;
}

.toc li {
  padding: 3px 0;
}

.toc li a {
  color: #000000;
}

.toc li a #chapter {
  padding: 0px 2px;
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: rgb(185, 185, 185);
}

.toc-list > li a {
  font-size: 1.4rem;
  font-weight: bold;
}

.sub-toc-list li {
  font-size: 1rem;
}

.sub-toc-list + li {
  padding-top: 20px;
}

.h1Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 #title,
h1 #chapter {
  padding: 1px 6px;
  margin: 0;
  border: solid;
  border-radius: 5px;
  box-shadow: var(--main-shadow);
}

.h2Container {
  margin: 40px 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.h1Container + .h2Container {
  margin: 20px 0;
}

h2 {
  margin: 0;
}

h2 #chapter {
  margin-right: 8px;
  padding: 0px 5px;
  border: solid;
  border-radius: 5px;
  box-shadow: var(--main-shadow);
}

.visitTarget {
  font-weight: bold;
  color: var(--link-color);
}

.clickTarget {
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  background-color: var(--button-color);
  padding: 6px;
  border-radius: 3px;
  box-shadow: var(--main-shadow);
}

.firstClickTarget,
.InputTarget {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 4px 5px;
  border-radius: 3px;
  color: white;
  background-color: rgb(98, 98, 98);
}

.getTarget {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 6px;
  border-radius: 3px;
  border: solid;
  box-shadow: var(--main-shadow);
}

.footer p {
  margin: 0;
}

.timestamp {
  font-size: smaller;
  color: rgb(81, 81, 81);
  font-style: italic;
}
